.button {
  color: white;
  background-color: rgb(228, 0, 0);
  border-radius: 10px;
  width: 80px;
  padding: 5px;
  align-self: center;
  cursor: pointer;
  margin-left: auto;
}
.info {
  margin-right: 5px;
}

.list {
  padding-left: 20px;
  max-height: 150px;
  overflow-y: auto;
}

.listItem {
  max-width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listItem:not(:last-child) {
  margin-bottom: 5px;
}

.item-appear {
  opacity: 0;
  transform: translateX(-100%);
}
.item-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear 300ms;
}
.item-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}

.item-exit {
  opacity: 1;
  transform: translateX(0);
}
.item-exit-active {
  opacity: 0;

  transform: translateX(-100%);
  transition: all 250ms linear;
}
